:root {
	font-family: 'Lexend Deca';
	--coloumn-width: 1080px;
	--font-color: rgb(225, 217, 209);
}

body {
	background-color: rgb(44, 45, 45);
	color: var(--font-color);
}

.wrapper {
	padding: 1rem;
}

.container {
	max-width: var(--coloumn-width);
	margin-inline: auto;
}
