:root {
	font-family: 'Lexend Deca';
	--coloumn-width: 1080px;
	--font-color: rgb(225, 217, 209);
	--bg-color: rgba(44, 45, 45, 0.7);
}

body {
	background-color: black;
	color: var(--font-color);
}

.wrapper {
	padding: 1rem;
}

.container {
	max-width: var(--coloumn-width);
	margin-inline: auto;
	min-height: 100svh;
}

.container + .container {
	margin-block-start: 6em;
}

.card {
	margin-inline: auto;
	max-width: var(--coloumn-width);
	border-radius: 1em;
	padding-block-start: 1.5em;
	padding-block-end: 3em;
	padding-inline: 4em;
	backdrop-filter: blur(2px);
	background-color: var(--bg-color);
}

.title {
	font-weight: 300;
	font-size: 2rem;
	line-height: 2;
	text-align: center;
}
